<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>{{this.title}}</h3>
  </div>
  <div class='panel-body'>
    <p>{{this.summary}}</p>
    <a href={{this.link}} target="_blank">{{this.link}}</a>
    <br><br>
    <button type='button' class='btn btn-success addNote' data-toggle='modal' data-target='#noteModal{{this._id}}' data-id={{this._id}}>Add Note</button>
    <button type='button' class='btn btn-danger delete' data-id={{this._id}}>Delete Article</button>
    <button type='button' class='btn btn-danger deletenote' data-id={{this._id}}>Delete Note</button>
  </div>
</div>