<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>{{this.title}}</h3>
  </div>
  <div class='panel-body'>
    <p>{{this.summary}}</p>
    <a href={{this.link}} target="_blank">{{this.link}}</a>
    <br><br>
    <button type='button' class='btn btn-success save' data-id={{this._id}}>Save Article</button>
  </div>
</div>